In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

df_od_matrix = pd.read_csv("C:\\Users\\류석현\\Desktop\\미래기술첼린지\\2023 미래기술챌린지 과제가이드 (과제3 실시간 주문 대응 Routing 최적화) v4\\과제3 실시간 주문 대응 Routing 최적화 (od_matrix) 수정완료.csv", encoding="cp949")
df_veh_table = pd.read_csv("C:\\Users\\류석현\\Desktop\\미래기술첼린지\\2023 미래기술챌린지 과제가이드 (과제3 실시간 주문 대응 Routing 최적화) v4\\veh_table.csv", encoding="cp949")
df_veh_table2 = pd.read_csv("C:\\Users\\류석현\\Desktop\\미래기술첼린지\\2023 미래기술챌린지 과제가이드 (과제3 실시간 주문 대응 Routing 최적화) v4\\veh_table.csv", encoding="cp949")
df_orders_table2 = pd.read_csv("C:\\Users\\류석현\\Desktop\\미래기술첼린지\\2023 미래기술챌린지 과제가이드 (과제3 실시간 주문 대응 Routing 최적화) v4\\바뀐주문.csv", encoding ="cp949")
df_Terminals = pd.read_csv("C:\\Users\\류석현\\Desktop\\미래기술첼린지\\2023 미래기술챌린지 과제가이드 (과제3 실시간 주문 대응 Routing 최적화) v4\\과제3 실시간 주문 대응 Routing 최적화 (Terminals).csv", encoding = "cp949")
df_d_to_o = pd.read_csv("C:\\Users\\류석현\\Desktop\\미래기술첼린지\\우리가 따로 작업\\d(터미널)을 가장 가까운 o(터미널)데이터.csv")

In [2]:
########df_orders_table 가공 > 각 일, 배치, o 마다 주문건수 10개이하로 맞춰서 새로 가공함 #############
######## 위에 csv 불러오는 코드에서 df_orders_table2로 불러오는 것만 수정하면 아래 다 돌아가 ####### 

day = ["2023.5.1", "2023.5.2", "2023.5.3", "2023.5.4", "2023.5.5", "2023.5.6"]

group1 = (0, 1, 2, 3)

# 칼럼 이름들과 빈 데이터 프레임 생성
columns = ["주문ID", "하차지_위도", "하차지_경도", "착지ID", "CBM","하차가능시간_시작", "하차가능시간_종료", 
           "하차작업시간(분)", "터미널ID", "date", "Group", "마감기한", "출발시간", "클러스터"]

df_orders_table = pd.DataFrame(columns=columns)


for days in day :
    for groups in group1 :
        for o_index, row in df_Terminals.iterrows():
            o = row['ID']

            COF = (df_orders_table2["date"] == days) & (df_orders_table2["Group"] == groups) & (df_orders_table2["터미널ID"] == o)
            order_curr = df_orders_table2[COF].sort_values(['착지ID', 'CBM', '마감기한'], ascending=[False, False, True])

            if (len(order_curr) >= 10) :
                order_curr = order_curr[0:10]
                df_orders_table = pd.concat([df_orders_table, order_curr], ignore_index=True)
            else :
                df_orders_table = pd.concat([df_orders_table, order_curr], ignore_index=True)

columns_to_drop = ["하차가능시간_시작", "하차가능시간_종료"]
df_orders_table = df_orders_table.drop(columns=columns_to_drop)
                
df_orders_table

,주문ID,하차지_위도,하차지_경도,착지ID,CBM,하차작업시간(분),터미널ID,date,Group,마감기한,출발시간,클러스터,Unnamed: 0,하차가능시간_종료_x,하차작업시간(분)_x
0,M18385491,35.577640,129.314014,D_332,7.108175,NaN,O_9,2023.5.1,0,2023.5.3 23:00,2023.5.1 0:00,11,0.0,2:00,60.0
1,M18434024,35.383357,129.019050,D_301,10.399642,NaN,O_9,2023.5.1,0,2023.5.3 23:00,2023.5.1 0:00,1,1.0,6:00,60.0
2,M18434020,35.383357,129.019050,D_301,7.183155,NaN,O_9,2023.5.1,0,2023.5.3 23:00,2023.5.1 0:00,1,2.0,6:00,60.0
3,M18386998,35.845893,128.762211,D_293,31.726262,NaN,O_9,2023.5.1,0,2023.5.3 23:00,2023.5.1 0:00,6,3.0,15:00,60.0
4,M18386900,35.845893,128.762211,D_293,24.709946,NaN,O_9,2023.5.1,0,2023.5.3 23:00,2023.5.1 0:00,6,4.0,15:00,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4252,M18394323,37.019091,127.255364,D_414,33.498993,NaN,O_673,2023.5.6,3,2023.5.9 17:00,2023.5.6 18:00,9,4274.0,18:00,60.0
4253,M18393981,35.881646,128.841459,D_409,10.271419,NaN,O_673,2023.5.6,3,2023.5.9 17:00,2023.5.6 18:00,6,4275.0,17:00,60.0
4254,M18393365,35.154450,126.782867,D_385,32.230710,NaN,O_673,2023.5.6,3,2023.5.9 17:00,2023.5.6 18:00,10,4276.0,6:00,60.0
4255,M18394271,36.709208,127.593821,D_375,18.154214,NaN,O_673,2023.5.6,3,2023.5.9 17:00,2023.5.6 18:00,3,4277.0,15:00,60.0
4256,20230506B478630_001,36.448483,127.409240,D_1,39.656550,NaN,O_711,2023.5.6,3,2023.5.9 17:00,2023.5.6 18:00,8,4278.0,2:00,60.0

In [3]:
df_veh_table['Used'] = 0

# date 칼럼을 pandas datetime으로 변환
df_orders_table['date'] = pd.to_datetime(df_orders_table['date'])

df_veh_table['현재시각'] = '2023-05-01 00:00:00'
df_veh_table['현재시각'] = pd.to_datetime(df_veh_table['현재시각'])

df_orders_table['d_near_origin'] = None

for _, row in df_d_to_o.iterrows():
    var = (df_orders_table['착지ID'] == row['dterminal'])
    df_orders_table.loc[var, 'd_near_origin'] = row['o']


def time_minute(origin, destination, df_odmatrix):
    try:
        # Origin, Destination 에따른 해당 인덱스를 true, false로 나타내는데, 한인덱스만 나올거
        n = ((df_odmatrix["origin"] == origin) & (df_odmatrix["Destination"] == destination))
        # true, false만 나타나므로 그걸 이용해서 true인 값을 n1에 저장
        n1 = df_odmatrix[n]
        # dc = 거리
        dc = n1.iloc[0, 2]
        # tm = time_minute 걸리는 시간
        tm = n1.iloc[0, 3]
        return tm

    # 값이 안나오고 오류가 나올시 아래구문 탐
    except KeyError:
        print("해당 터미널 간의 거리 정보를 찾을 수 없습니다.")
        return None

    # travel_time 계산해주는 함수


def travel_time(o, once_route, nearest_origin):
    global df_od_matrix

    veh_time = 0
    keep = []
    keep.append(o)
    keep.extend(once_route)

    # 배달을 끝난후 차량의 시각을 저장.
    for i in range(2, len(keep) + 1):
        tm = time_minute(keep[i - 2], keep[i - 1], df_od_matrix)
        veh_time += tm
        if (i == len(keep)):
            veh_time = veh_time + time_minute(keep[i - 1], nearest_origin, df_od_matrix)

    return veh_time


# result_routes의 마지막 주문의 착지 ID를 확인해서 해당 터미널의 베이스캠프를 뱉어내는 함수
##################### 가까운 o로 보내는거 추가부분 ####################
def update_result_routes(once_route, current_route, df_d_to_o, start_center1, max_capacity1):
    
    global df_orders_table

    # 마지막으로 처리하는 주문의 도착지를 확인한 후, 해당 도착지와 가장 가까운 베이스 캠프(nearest_origin) 도출
    last_orderID = current_route[-1]
    final_terminal = once_route[-1]

    filtered_row = df_d_to_o[df_d_to_o['dterminal'] == final_terminal]
    nearest_origin = filtered_row['o'].values[0]

    
#     # 일단 30프로 안했을때
#     if ((len(df_veh_table[(df_veh_table['MaxCapaCBM'] == max_capacity1) & (df_veh_table['StartCenter'] == start_center1)])) <= (0.3*len(df_veh_table2[(df_veh_table2['MaxCapaCBM'] == max_capacity1) & (df_veh_table2['StartCenter'] == start_center1)]))) :
#         return_loation = start_center1
#     else :
#         return_loation = nearest_origin
    
    # 처리된 주문을 기존 데이터프레임에서 삭제
    for i in range (len(current_route)) :
        df_orders_table = df_orders_table[df_orders_table['주문ID'] != current_route[i]]
    

    return nearest_origin

In [4]:

def process_orders_with_deadline(orders_df, veh_df, time_10):

    # 결과를 저장할 리스트
    routes = []
    total_cost = 0
    max_cap_veh = set()
    processed_orders = set()
#     slack = 5  # 나중에 최적화

    no_time_dest = set()

    # 각 차량에 대해 처리
    for veh_index, veh_row in veh_df.iterrows():
        veh_num = veh_row['VehNum']
        max_capacity = veh_row['MaxCapaCBM']
        start_center = veh_row['StartCenter']
        variable_cost = veh_row['VariableCost']
        fixed_cost = veh_row['FixedCost']

        
        # 이미 처리된 라우트 건너뛰기
        if veh_num in max_cap_veh:
            continue

        current_capacity = 0  # 현재 차량의 용량
        current_location = start_center  # 현재 차량의 위치
        current_route = []  # 현재 차량의 경로
        current_time = pd.to_datetime(time_10)  # 현재 시간을 주문 중 가장 빠른 출발시간으로 초기화
        once_route = []
        time_log = [current_time]
        order_travel_distance = 0

        # 주문 처리
        for index, order in orders_df.iterrows():
            order_id = order['주문ID']
            order_cbm = order['CBM']
            order_destination = order['착지ID']

            # 라우트가 비어 있으면 목적지 초기화
            if not current_route:
                route_destination = order_destination

            # 못보내는 주문 건너뛰기
            if order_destination in no_time_dest:
                continue

            # 이미 처리된 주문은 건너뛰기
            if order_id in processed_orders:
                continue

            # 다른 목적지는 건너 뛰기
            if route_destination != order_destination:
                continue

            # 도착지 터미널이 od_matrix_df에 있는지 확인
            filtering = (df_od_matrix["Destination"] == order_destination) & (df_od_matrix["origin"] == current_location)
            order_travel_time = float(
            df_od_matrix[filtering]["Time_minute"].iloc[0])  # pd.to_timedelta 로 인해서 데이터프레임 형식으로 나감...
            order_travel_distance = float(df_od_matrix[filtering]["Distance_km"].iloc[0])

            # 주문이 처리 가능한지 확인(CBM 상한을 안 넘는지)
            if current_capacity + order_cbm <= max_capacity:
                # 주문 처리
                current_capacity += order_cbm
                current_route.append(order_id)
                current_time = pd.to_datetime(time_10) + pd.to_timedelta(order_travel_time, unit='m')
                
                # 현재 시간, 하차 후의 시간 저장
#                 arrival_time = str(current_time)[11:]
#                 end_time = str(current_time + pd.to_timedelta(240, unit='m'))[11:]
                
                once_route.append(order_destination)
                time_log.append(current_time)


        # 현재 차량의 경로와 발생 비용을 결과 리스트에 추가
        if once_route:
            # 복귀지점 반환받고, 처리된 주문 삭제 함수(df 업데이트 포함)
            ##################### 가까운 o로 보내는거 아래 수정 한 줄 ####################
            nearest_origin = update_result_routes(once_route, current_route, df_d_to_o, start_center, max_capacity)

            # 시작 - 하차 - 복귀 까지 travel_time 구하는 함수
            veh_time = travel_time(o, once_route, nearest_origin)

            # time-log에 복귀 추가
            time_log.append(pd.to_datetime(time_10) + pd.to_timedelta(len(once_route) * 60 + veh_time, unit='m'))

            # 차량의 현재시각 update
            df_veh_table.loc[df_veh_table['VehNum'] == veh_num, '현재시각'] = pd.to_datetime(time_10) + pd.to_timedelta(
                len(once_route) * 60 + veh_time, unit='m')
            
            ### 2. nearest_origin으로 복귀한 차량의 travel distance
            fi = (df_od_matrix["origin"] == once_route[-1]) & (df_od_matrix["Destination"] == nearest_origin)
            order_travel_distance += df_od_matrix.loc[fi, "Distance_km"].iloc[0]
            
            # once_route에 nearest_origin 붙이기
            once_route.append(nearest_origin)

            # 차량의 (현재) 위치 업데이트
            df_veh_table.loc[df_veh_table['VehNum'] == veh_num, 'StartCenter'] = nearest_origin
            
            #차량의 사용 여부 update
            df_veh_table.loc[df_veh_table['VehNum'] == veh_num, 'Used'] = 1

            #             current_cost = fixed_cost + variable_cost * order_travel_distance
            current_cost = variable_cost * order_travel_distance
            total_cost += current_cost
            routes.append(
                (veh_num, start_center, current_route, once_route, current_cost, current_capacity, current_time,
                 order_travel_distance, fixed_cost, variable_cost, veh_time, time_log))

            max_cap_veh.add(veh_num)

        for ord in current_route:
            processed_orders.add(ord)

    return routes, total_cost

In [5]:
# 주문 처리
from tqdm import tqdm
from datetime import datetime, timedelta

day = ["2023-05-01", "2023-05-02", "2023-05-03", "2023-05-04", "2023-05-05"]
#day = ["2023-05-01", "2023-05-02", "2023-05-03"]
#day = ["2023-05-01", "2023-05-02"]

group1 = (0, 1, 2, 3)

veh_cbm = [27, 33, 42, 51, 55]

# 주문결과 테이블
col = ("VehicleID", "Sequence", "ORD_NO", "SiteCode", "ArrivalTime", "WaitingTime", "ServiceTime",
       "DepartureTime", "Delivered")
ORD_RESULT = pd.DataFrame(columns=col)

# 배차결과 테이블
col = ("VehicleID", "Count", "Volume", "TravelDistance", "WorkTime", "TravelTime", "ServiceTime", "WaitingTime",
       "TotalCost", "FixedCost", "VariableCost")
VEH_RESULT = pd.DataFrame(columns=col)

# df_orders_table 데이터프레임의 모든 칼럼 가져오기
col = df_orders_table.columns

# 새롭게 쓸df에 모든 칼럼 추가(df_orders_table의 칼럼만 담고 모든 데이터없음)
ord_curr2 = pd.DataFrame(columns=col)


pd.set_option('display.max_columns', None) ## 모든 열을 출력한다.

start_day = day[0]
start_time = datetime(year=2023, month=4, day=30, hour=18, minute=0)  # 시작 시간을 설정

#time_10 = datetime(year=2023, month=4, day=30, hour=23, minute=50)

result_routes_list=[]
result_routes_list2=[]
a = 0

# 주문 처리

progress_bar = tqdm(day, total=5, desc="Processing Orders")

for days in progress_bar :    
    for groups in group1 :
        start_time += timedelta(hours=6)  # 시간을 6시간씩 증가
        time_10 = start_time - timedelta(minutes=30)
        for i in range(12) :
            time_10 += timedelta(minutes=30)
            for o_index, row in df_Terminals.iterrows():

                o = row['ID']

                COF = (df_orders_table["date"] == days) & (df_orders_table["Group"] == groups) & (df_orders_table["터미널ID"] == o)
                order_curr = df_orders_table[COF].sort_values(['착지ID', 'CBM', '마감기한'], ascending=[False, False, True])

                CVF =  ((df_veh_table["현재시각"] <= pd.Timestamp(time_10)) & (df_veh_table["StartCenter"] == o))
                veh_curr = df_veh_table[CVF].sort_values(by=['Used','MaxCapaCBM'], ascending=[False, False])

                result_routes, result_total_cost= process_orders_with_deadline(order_curr, veh_curr, time_10)

                result_routes_list.append(result_routes)

            #     # 결과 출력
            #     print("차량 경로:")
            #     for veh_num, route, cost, capacity, time, distance, fixed_cost, variable_cost in result_routes:
            #         print(f"차량 {veh_num} 경로: {route}")
            #     print("총 발생 비용:", result_total_cost)

                Count = 0
                Volume = 0
                TravelDistance = 0
                WorkTime = 0
                TravelTime = 0
                ServiceTime = 0
                WaitingTime = 0
                TotalCost = 0
                FixedCost = 0
                VariableCost = 0


                for veh_num, sc, route, loc, cost, capacity, time, distance, fixed_cost, variable_cost, veh_time, t_log in result_routes:
                    Count = len(route)
                    Volume = capacity
                    TravelDistance = distance
                    TravelTime = veh_time
                    ServiceTime = Count * 60
                    WaitingTime = 0  # 모름, 수정
                    WorkTime = TravelTime + ServiceTime + WaitingTime
                    TotalCost = cost
                    FixedCost = fixed_cost
                    VariableCost = variable_cost * distance

                    if VEH_RESULT[VEH_RESULT["VehicleID"] == veh_num].empty:
                        new_row = [veh_num, Count, Volume, TravelDistance, WorkTime, TravelTime, ServiceTime,
                                   WaitingTime, TotalCost + FixedCost, FixedCost, VariableCost]
                        VEH_RESULT.loc[len(VEH_RESULT)] = new_row
                    else:
                        filt = VEH_RESULT['VehicleID'] == veh_num
                        VEH_RESULT.loc[filt, 'Count'] += Count
                        VEH_RESULT.loc[filt, 'Volume'] += Volume
                        VEH_RESULT.loc[filt, 'TravelDistance'] += TravelDistance
                        VEH_RESULT.loc[filt, 'WorkTime'] += WorkTime
                        VEH_RESULT.loc[filt, 'TravelTime'] += TravelTime
                        VEH_RESULT.loc[filt, 'ServiceTime'] += ServiceTime
                        VEH_RESULT.loc[filt, 'WaitingTime'] += WaitingTime
                        VEH_RESULT.loc[filt, 'TotalCost'] += TotalCost
            #                     VEH_RESULT.loc[filt, 'FixedCost'] += FixedCost
                        VEH_RESULT.loc[filt, 'FixedCost'] = FixedCost
                        VEH_RESULT.loc[filt, 'VariableCost'] += VariableCost

    progress_bar.set_postfix(Order=f"{days}/{5}")

print("차량 결과")
print(VEH_RESULT)

Processing Orders: 100%|█████████████████████████████████████████| 5/5 [1:56:21<00:00, 1396.34s/it, Order=2023-05-05/5]

차량 결과
    VehicleID Count      Volume  TravelDistance     WorkTime   TravelTime  \
0      VEH_42    28  744.938999     3838.276879  4952.620049  3272.620049
1      VEH_43    22  521.457052     3191.535594  3978.986025  2658.986025
2      VEH_44    12  264.844649     1729.284587  2151.664075  1431.664075
3      VEH_45    16  395.905887     2392.469616  3023.861498  2063.861498
4      VEH_46    21  461.368921     3657.332495  4231.277598  2971.277598
..        ...   ...         ...             ...          ...          ...
773   VEH_978     1   23.861650      423.040123   361.501223   301.501223
774   VEH_979     2   48.506060      607.821663   575.335109   455.335109
775   VEH_980     1    6.198060      281.009425   266.162572   206.162572
776   VEH_981     2   37.060005      572.496801   602.321103   482.321103
777   VEH_952     1   15.281305       35.834574   110.018952    50.018952

    ServiceTime WaitingTime    TotalCost FixedCost  VariableCost
0          1680           0  7158.898382       250   6908.898382
1          1320           0  5994.764070       250   5744.764070
2           720           0  3362.712257       250   3112.712257
3           960           0  4556.445308       250   4306.445308
4          1260           0  6833.198491       250   6583.198491
..          ...         ...          ...       ...           ...
773          60           0   533.040123       110    423.040123
774         120           0   717.821663       110    607.821663
775          60           0   391.009425       110    281.009425
776         120           0   682.496801       110    572.496801
777          60           0   108.667659        80     28.667659

[778 rows x 11 columns]

In [6]:
# 주문결과 테이블
col = ("VehicleID", "Sequence", "ORD_NO", "SiteCode", "ArrivalTime", "WaitingTime", "ServiceTime",
       "DepartureTime", "Delivered")
ORD_RESULT = pd.DataFrame(columns=col)

col2 = ("VehicleID", "Sequence", "ORD_NO", "SiteCode", "ArrivalTime", "WaitingTime", "ServiceTime",
       "DepartureTime", "Delivered")
ORD_PRED = pd.DataFrame(columns = col2)
empty_ORD = ORD_RESULT


for result_routes in result_routes_list:
    for veh_num, sc, route, loc, cost, capacity, time, distance, fixed_cost, variable_cost, veh_time, t_log in result_routes:
        sequence = 0
        empty_ORD = pd.DataFrame(columns=col)
        
        # 차량 초기 등록에만 실행하도록 수정
        if sequence == 0:
            sequence += 1
            new_row = {"VehicleID" : veh_num,
                    "Sequence" : sequence,
                    "ORD_NO" : 'Null',
                    "SiteCode" : sc, # 터미널
                    "ArrivalTime" : str(t_log[0]), 
                    "WaitingTime" : 0, # 나중에 변경
                    "ServiceTime" : 0, # 나중에 변경
                    "DepartureTime" : str(t_log[0]), 
                    "Delivered" : 'Null'}
            empty_ORD.loc[empty_ORD.shape[0]] = new_row

        for index in range(len(route)+1):
            sequence += 1
            if loc[index][0] != 'O':
                new_row = {"VehicleID" : veh_num,
                        "Sequence" : sequence,
                        "ORD_NO" : route[index],
                        "SiteCode" : loc[index], 
                        "ArrivalTime" : str(t_log[index+1]), 
                        "WaitingTime" : (index)*60,
                        "ServiceTime" : 60,
                        "DepartureTime" : str(t_log[index+1]+timedelta(minutes=(index+1) * 60)), # 나중에 변경
                        "Delivered" : 'Null'}
                empty_ORD.loc[empty_ORD.shape[0]] = new_row
            else:
                new_row = {"VehicleID" : veh_num,
                    "Sequence" : 1,
                    "ORD_NO" : 'Null',
                    "SiteCode" : loc[index], # 터미널
                    "ArrivalTime" : str(t_log[index+1]), # 나중에 변경
                    "WaitingTime" : 0, # 나중에 변경
                    "ServiceTime" : 0, # 나중에 변경
                    "DepartureTime" : None, # 나중에 변경
                    "Delivered" : 'Null'}
                empty_ORD.loc[empty_ORD.shape[0]] = new_row

        ORD_PRED = pd.concat([ORD_PRED, empty_ORD], ignore_index = True)

In [7]:
# if str(time_10)[11:] in ('0:00', '06:00', '12:00', '18:00', '24:00'):
# 시간 표시
time_10 = datetime(2023, 5, 1, 2, 0)

# 배송상태 업데이트
for _, row in ORD_PRED.iterrows():
    if row['ORD_NO'] != 'Null':
        if row['DepartureTime'] <= str(time_10):
            row['Delivered'] = 'Yes'
        else:
            row['Delivered'] = 'No'
    else:
        row['Delivered'] = 'Null'

# ORD_PRED에서 차량별로 처리 -> for 문
for veh in ORD_PRED['VehicleID'].unique():
    ex = ORD_PRED[ORD_PRED['VehicleID'] == veh]

    # DepartureTime 수정
    ex['DepartureTime'] = ex['DepartureTime'].fillna(method='bfill')
    ex = ex.drop_duplicates(subset=['SiteCode', 'DepartureTime'])

    ORD_RESULT = pd.concat([ORD_RESULT, ex], ignore_index=True)

filt = ORD_RESULT['SiteCode'].str.contains('O', case=False)
ORD_RESULT.loc[filt, 'WaitingTime'] = pd.to_datetime(ORD_RESULT.loc[filt, 'DepartureTime']) - pd.to_datetime(ORD_RESULT.loc[filt, 'ArrivalTime'])

C:\Users\류석현\AppData\Local\Temp\ipykernel_21580\3577201173.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ex['DepartureTime'] = ex['DepartureTime'].fillna(method='bfill')

In [8]:
VEH_RESULT

,VehicleID,Count,Volume,TravelDistance,WorkTime,TravelTime,ServiceTime,WaitingTime,TotalCost,FixedCost,VariableCost
0,VEH_42,28,744.938999,3838.276879,4952.620049,3272.620049,1680,0,7158.898382,250,6908.898382
1,VEH_43,22,521.457052,3191.535594,3978.986025,2658.986025,1320,0,5994.764070,250,5744.764070
2,VEH_44,12,264.844649,1729.284587,2151.664075,1431.664075,720,0,3362.712257,250,3112.712257
3,VEH_45,16,395.905887,2392.469616,3023.861498,2063.861498,960,0,4556.445308,250,4306.445308
4,VEH_46,21,461.368921,3657.332495,4231.277598,2971.277598,1260,0,6833.198491,250,6583.198491
...,...,...,...,...,...,...,...,...,...,...,...
773,VEH_978,1,23.861650,423.040123,361.501223,301.501223,60,0,533.040123,110,423.040123
774,VEH_979,2,48.506060,607.821663,575.335109,455.335109,120,0,717.821663,110,607.821663
775,VEH_980,1,6.198060,281.009425,266.162572,206.162572,60,0,391.009425,110,281.009425
776,VEH_981,2,37.060005,572.496801,602.321103,482.321103,120,0,682.496801,110,572.496801
777,VEH_952,1,15.281305,35.834574,110.018952,50.018952,60,0,108.667659,80,28.667659

In [9]:
ORD_RESULT

,VehicleID,Sequence,ORD_NO,SiteCode,ArrivalTime,WaitingTime,ServiceTime,DepartureTime,Delivered
0,VEH_42,1,Null,O_9,2023-05-01 00:00:00,0 days 00:00:00,0,2023-05-01 00:00:00,Null
1,VEH_42,2,M18385491,D_332,2023-05-01 00:49:25.521059220,0,60,2023-05-01 01:49:25.521059220,Yes
2,VEH_42,1,Null,O_591,2023-05-01 02:07:20.812777440,0 days 15:52:39.187222560,0,2023-05-01 18:00:00,Null
3,VEH_42,2,20230501B467824_001,D_109,2023-05-01 20:42:02.166683340,0,60,2023-05-01 21:42:02.166683340,No
4,VEH_42,1,Null,O_144,2023-05-01 22:22:34.388272080,0 days 01:37:25.611727920,0,2023-05-02 00:00:00,Null
...,...,...,...,...,...,...,...,...,...
6413,VEH_981,2,MF2305046246430,D_1284,2023-05-06 02:39:35.661644880,0,60,2023-05-06 03:39:35.661644880,No
6414,VEH_981,1,Null,O_243,2023-05-06 04:03:16.738492679,NaT,0,None,Null
6415,VEH_952,1,Null,O_673,2023-05-05 18:00:00,0 days 00:00:00,0,2023-05-05 18:00:00,Null
6416,VEH_952,2,M18434635,D_359,2023-05-05 18:26:18.811988760,0,60,2023-05-05 19:26:18.811988760,No
6417,VEH_952,1,Null,O_673,2023-05-05 19:50:01.137132360,NaT,0,None,Null

In [10]:
sum(VEH_RESULT["Count"])

2950

In [11]:
len(df_orders_table)

1307

In [12]:
VEH_RESULT.to_csv('VEH_RESULT_comeback_near_o_not_rate.csv', index=False)
ORD_RESULT.to_csv('ORD_REUSLT_comeback_near_o_not_rate.csv', index=False)

In [13]:
#  col = ((df_orders_table['date']==day[0]) | (df_orders_table['date']==day[1]))
#col = ((df_orders_table['date']==day[2]))
df_orders_table

,주문ID,하차지_위도,하차지_경도,착지ID,CBM,하차작업시간(분),터미널ID,date,Group,마감기한,출발시간,클러스터,Unnamed: 0,하차가능시간_종료_x,하차작업시간(분)_x,d_near_origin
541,20230501B467907_001,36.448483,127.409240,D_1,33.618695,NaN,O_323,2023-05-01,3,2023.5.4 17:00,2023.5.1 18:00,8,541.0,2:00,60.0,O_144
586,20230501B468229_001,37.414307,127.312934,D_108,45.000000,NaN,O_603,2023-05-01,3,2023.5.4 17:00,2023.5.1 18:00,14,586.0,18:00,60.0,O_174
635,MF2305116280545,36.984524,126.867912,D_1966,45.000000,NaN,O_50,2023-05-02,0,2023.5.4 23:00,2023.5.2 0:00,22,635.0,15:00,60.0,O_11
638,MF2305116279523,37.303928,127.603592,D_1963,40.201756,NaN,O_50,2023-05-02,0,2023.5.4 23:00,2023.5.2 0:00,14,638.0,18:00,60.0,O_580
640,MF2305116280604,35.715286,129.313690,D_1842,43.258873,NaN,O_50,2023-05-02,0,2023.5.4 23:00,2023.5.2 0:00,11,640.0,17:00,60.0,O_430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4252,M18394323,37.019091,127.255364,D_414,33.498993,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,9,4274.0,18:00,60.0,O_603
4253,M18393981,35.881646,128.841459,D_409,10.271419,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,6,4275.0,17:00,60.0,O_50
4254,M18393365,35.154450,126.782867,D_385,32.230710,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,10,4276.0,6:00,60.0,O_466
4255,M18394271,36.709208,127.593821,D_375,18.154214,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,3,4277.0,15:00,60.0,O_629
4256,20230506B478630_001,36.448483,127.409240,D_1,39.656550,NaN,O_711,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,8,4278.0,2:00,60.0,O_144

In [14]:
sum(VEH_RESULT["TotalCost"])

883834.2453424712

In [15]:
df_orders_table

,주문ID,하차지_위도,하차지_경도,착지ID,CBM,하차작업시간(분),터미널ID,date,Group,마감기한,출발시간,클러스터,Unnamed: 0,하차가능시간_종료_x,하차작업시간(분)_x,d_near_origin
541,20230501B467907_001,36.448483,127.409240,D_1,33.618695,NaN,O_323,2023-05-01,3,2023.5.4 17:00,2023.5.1 18:00,8,541.0,2:00,60.0,O_144
586,20230501B468229_001,37.414307,127.312934,D_108,45.000000,NaN,O_603,2023-05-01,3,2023.5.4 17:00,2023.5.1 18:00,14,586.0,18:00,60.0,O_174
635,MF2305116280545,36.984524,126.867912,D_1966,45.000000,NaN,O_50,2023-05-02,0,2023.5.4 23:00,2023.5.2 0:00,22,635.0,15:00,60.0,O_11
638,MF2305116279523,37.303928,127.603592,D_1963,40.201756,NaN,O_50,2023-05-02,0,2023.5.4 23:00,2023.5.2 0:00,14,638.0,18:00,60.0,O_580
640,MF2305116280604,35.715286,129.313690,D_1842,43.258873,NaN,O_50,2023-05-02,0,2023.5.4 23:00,2023.5.2 0:00,11,640.0,17:00,60.0,O_430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4252,M18394323,37.019091,127.255364,D_414,33.498993,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,9,4274.0,18:00,60.0,O_603
4253,M18393981,35.881646,128.841459,D_409,10.271419,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,6,4275.0,17:00,60.0,O_50
4254,M18393365,35.154450,126.782867,D_385,32.230710,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,10,4276.0,6:00,60.0,O_466
4255,M18394271,36.709208,127.593821,D_375,18.154214,NaN,O_673,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,3,4277.0,15:00,60.0,O_629
4256,20230506B478630_001,36.448483,127.409240,D_1,39.656550,NaN,O_711,2023-05-06,3,2023.5.9 17:00,2023.5.6 18:00,8,4278.0,2:00,60.0,O_144